/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}

.main {
  height: 100%;
}

/* Main marketing message and sign up button */
.jumbotron {
  height: 100%;
  text-align: center;
  color: #f0f0f0;
  text-shadow: 2px 2px 8px #0f0f0f;
  border-bottom: 1px solid #e5e5e5;
}
